/* You can add global styles to this file, and also import other style files */
body {
margin-top: 100px;
}

.member-tabset ul {
  margin-bottom: 15px !important;
}

.clickable {
  cursor: pointer;
}
