.profile-image {
  width: 100%;
  height: 100%;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-justified>.btn-group .btn {
  width: 95%;
}

.tab-container {
  padding: 7px;
}
